.music-container {
    position: relative;
    left: 10px;
    top: 10px;
    display: flex;

    .volume-slider-container {  
        display: flex;

        input {
            display: none;
            margin-left: 0.5rem;
        }

        .material-symbols-outlined {
            cursor: pointer;
            margin-left: 0.5rem;

          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 24
        }
    }
}

#return-to-menu-button-container {
    display: none;
    position: relative;
    left: 10px;
    top: 20px;
}

main {
    width: 43rem;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

    background-image: url(../images/backgrounds/bg-7.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: auto 100%;
    // background-attachment: fixed;
    margin: 0 auto;
}