@use 'mixins' as *;

#strategy-screen-container {
    display: none;

    .strategy-screen-content-container {
        margin: 3rem 1rem;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        flex-wrap: wrap;

        h2 {
            text-align: center;
        }

        .strategy-table-container {
            max-width: 32em;
        }

    }


}