@use 'mixins' as *;

#main-game-screen-container {
    display: none;

    #game-score {
        position: absolute;
        right: 10px;
        top: 10px
    }

    #win-percentage {
        position: absolute;
        right: 10px;
        top: 40px;
    }

    .playing-cards-container {
        display: grid;
        grid-template-columns:auto;
        justify-content: center;
        justify-items: center;

        .dealer-cards-container{
            .dealer-cards {
                max-width: 6rem;
                }
        }

        .table-text-container {
            max-width: 30rem;
            margin-bottom: 1.5rem;
        }

        .player-cards-container {
            .player-cards {
                max-width: 8rem;
                margin-bottom: 1rem;
            }
        }
    }

    .player-buttons-container {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
    }

    .deal-button-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    .evaluation-text-container {
        display:grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: auto;
        margin-top: 2rem;

        h2 {
            grid-column: 2/3;
            grid-row: 1/2;
            text-align: center;
        }

        p {
            grid-column: 2/3;
            grid-row: 2/3;
        }

        h2, p {
            margin: 0.4rem auto;
        }
    }

    .strategy-button-container {
        position: absolute;
        left: 10px;
        bottom: 15px; 
        display: none;  

    }

    .strategy-table-container {
        display: none;

        #strategy-table-img-02 {
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
            max-width: 28rem;
            height: auto;

            &:hover {
                max-width: 27.9rem;
                
            }
        }   
    }
}
