
// $primary-font: "DejaVu Sans", Arial, "Helvetica Neue", Helvetica, sans-serif;
// $secondary-font: "Playfair Display", Georgia, Times, "Times New Roman", serif;

$primary-font: 'Jost', sans-serif;
$secondary-font: 'Jost', sans-serif;
$primary-color: #111111;
$secondary-color: #eeeeee;

